/* .container {
  width: 100vw;
  height: 87vh;
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
  background-color: #f7f6f6;
  margin: 5% 40% 45% 15%;
  font-weight: 100;
  font-size: 1.1em;
} */

/* .item {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #e9f2e9;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
} */
