.imagesBlock {
  width: 95%;
  padding: 1rem;
  height: 50vw;
  position: relative;
  border: solid lightgray;
  padding: 3px;
  background: #e9f2e9;
  margin: 0.5em;
}
.imagesContent {
  color: #707070;
  font-weight: bolder;
}
.thumb {
  width: 90%;
  height: 190px;
  z-index: -1;
  padding: 1em;
  object-fit: cover;
  /* margin-left: 1%; */
}
h5 {
  z-index: 1;
  position: relative;
  color: #707070;
  text-align: center;
}

@media only screen and (max-width: 1147px) {
  .imagesBlock {
    height: 56vw;
  }
}
@media only screen and (max-width: 1340px) {
  .thumb {
    width: 70%;
    height: 165px;
    margin-left: 13%;
  }
}

@media only screen and (max-width: 1027px) {
  .thumb {
    width: 70%;
    height: 120px;
    margin-left: 13%;
  }
}
@media only screen and (max-width: 805px) {
  .thumb {
    width: 70%;
    height: 80px;
    margin-left: 4%;
  }
}
