.jumboBlock {
  width: 90%;
  padding: 3rem;
  height: 50vw;
  position: relative;
  border: solid lightgray;
  padding: 3px;
  background: #e9f2e9;
  margin: 0.5em;
}
.jumboContent {
  color: #707070;
}
.jumboPic {
  width: 80%;
  height: 90%;
  object-fit: cover;
  margin-left: 9%;
  padding-top: 2%;
}
button {
  height: 2em;
  width: 7em;
  position: relative;
  margin-left: 35%;
}
p {
  padding-left: 17%;
  font-weight: bold;
}
.h3Jumbo {
  margin-top: -0.5em;
  margin-left: 17%;
}
