.jumboBlock {
  width: 103%;
  padding: 3rem;
  height: 50vw;
  position: relative;
  border: solid lightgray;
  padding: 3px;
  background: #e9f2e9;
  margin: 0.5em;
}
.jumboContent {
  color: #707070;
}
.jumboPic {
  width: 87%;
  height: 550px;
  object-fit: cover;
  margin-left: 7%;
  padding-top: 2%;
}
.searchButton {
  margin-top: 2em;
  height: 2em;
  width: 7em;
  position: relative;
  margin-left: 0.5em;
  background-color: #e27878;
  color: white;
}
.inputSearch {
  margin-left: 35%;
  width: 20em;
}
h6 {
  margin-left: 30%;
  font-weight: bold;
}
.h3Jumbo {
  margin-top: -0.5em;
  margin-left: 17%;
}

.jumbo {
  position: relative;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  background-color: #9bcd9b;
}

.container:hover .overlay {
  opacity: 1;
}

.overlayFade {
  height: 250px;
  width: 250px;
  top: 0;
  left: 75px;
  background-color: #9bcd9b;
}
@media only screen and (max-width: 1251px) {
  .jumboPic {
    width: 80%;
    height: 500px;
    object-fit: cover;
    margin-left: 7%;
    padding-top: 2%;
  }
}
@media only screen and (max-width: 1176px) {
  .jumboPic {
    width: 75%;
    height: 450px;
    object-fit: cover;
    margin-left: 7%;
    padding-top: 2%;
  }
}
@media only screen and (max-width: 1027px) {
  .jumboPic {
    width: 80%;
    height: 350px;
    object-fit: cover;
    margin-left: 10%;
    padding-top: 2%;
  }
}
