.block {
  width: 106%;
  padding: 0.5rem;
  height: 50vw;
  position: relative;
  border: solid lightgray;
  padding: 3px;
  background: #e9f2e9;
  margin: 0.5em;
}
.content {
  color: #707070;
  font-weight: bold;
}
.recipeOfDay-img {
  width: 50%;
  height: 30%;
  margin-left: 20%;
  object-fit: cover;
}

h2 {
  margin-left: 1.6em;
  padding: 0.5em 0em;
}

h3 {
  margin-left: 3.7em;
  padding-top: 0.5em;
}

p {
  margin-left: 0.5em;
  padding-right: 1em;
}
.pDescription {
  margin-left: 1.3em;
}

@media only screen and (max-width: 1342px) {
  .content {
    font-size: 0.8em;
  }
  h2,
  h3 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1176px) {
  h2,
  h3 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1027px) {
  .content {
    font-size: 0.5em;
  }
  .recipeofDayH2,
  .recipeofDayH3 {
    font-size: 2.5em;
  }
}
