inputSearch {
  margin-left: 50%;
  margin-top: 2em;
  width: 15em;
}
searchButton {
  margin-left: 50%;
  margin-top: 2em;
}

.recipeResult {
  display: flex;
  flex-wrap: wrap;
  width: 10%;
  margin: 0 auto;
}

.searchImg {
  width: 20rem;
  height: 20rem;
  justify-content: space-between;
  margin-left: 110%;
  margin-top: 3em;
}

hr {
  border: 3px solid #707070;
}
.searchH3 {
  margin-left: 125%;
  width: 100%;
}
