.createForm {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
}
.createFormTitle {
  font-family: "Orbitron", sans-serif;
  text-align: center;
}
.addRecipeDiv {
  display: flex;
  flex-direction: column;
}
.recipeDivFix {
  margin-right: -200px;
  margin-left: 300px;
}
.ingredientForm {
  display: none;
}
.bigButton {
  margin: 0;
}
.deleteButton {
  display: flex;
  justify-content: center;
}

.createForm {
  background-image: url
    (
      "https://images.pexels.com/photos/326279/pexels-photo-326279.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
    );
}

#createTitle,
#createDescription,
#createInstructions,
#createPicture,
#createCook {
  width: 30em;
}
.createRecipeButton {
  width: 275px;
  padding: 5px 5px 40px 5px;
  background-color: #de6c6d;
  display: flex;
  color: white;
  margin-left: 6em;
}
#idRecipeInput,
.pId {
  margin-top: 2em;
}

#updateTitle,
#updateDescription,
#updateInstructions,
#updatePicture,
#updateCook {
  width: 23em;
}
.updateRecipeButton {
  width: 150px;
  height: 2em;
  background-color: #de6c6d;
  display: flex;
  color: white;
  margin-left: 6em;
}
.idField {
  margin: -10px 0 20px 0;
  display: flex;
  justify-content: center;
}
.inputLabel {
  margin-bottom: 0;
}

.ingredientUpdateForm {
  margin-left: -5em;
}

.subtitle {
  font-size: 10px;
  margin: 10px 0 0 -15px;
}
.updateForm {
  margin: 0 -150px 0 500px;
}
/*form page*/

.addDiv {
  display: none;
}
.addBtn {
  height: 60px;
  width: 200px;
  padding: 10px 25px;
  border: none;
}
.updateDiv {
  display: none;
}
.deleteDiv {
  display: none;
}
<<<<<<< HEAD

#idDeleteInput {
  margin-top: 2em;
  height: 2em;
}

=======
.DIDiv {
  display: none;
}
>>>>>>> d73f47ddf070bdb89209c98e6b46d2f9e7479156
.crudDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.display {
  display: block;
}
.formButton {
  width: 90px;
  padding: 5px 20px 50px 5px;
  background-color: #de6c6d;
  display: flex;
  color: white;
}
<<<<<<< HEAD

#ingredient,
#amount {
  width: 25em;
}
.ingredientButton {
  margin: 1em 0 0 8em;

  width: 10em;
}
#idIngredientInput,
.addId {
  margin-top: 2em;
}

.deleteTitle {
  padding-top: 3em;
}

#deleteIngredient,
#deleteAmount {
  width: 25em;
}
.ingDeleteButton {
  width: 12em;
  margin: 1em 0 0 7em;
  height: 2em;
=======
.DIformButn {
  margin-left: 200px;
}
.buttonFormFix {
  margin-top: -60px;
>>>>>>> d73f47ddf070bdb89209c98e6b46d2f9e7479156
}
